@page
@model eGallery.Web.Razor.Pages.app.Category.AddEditCategoryModel
@{
    ViewData["Title"] = "AddEditCategory";
}

<div class="row">
    <div class="col-xl-4">
    </div>
    <div class="col-xl-4">
        <div class="card mb-4">
            <form method="post" class="form-horizontal" id="statusForm">
                <h6 class="card-header with-elements">
                    @ViewBag.CategoryTitle
                </h6>
                <div id="tasks-inner">
                    <div class="card-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Category.CategoryId" id="StatusId" class="form-control" />
                        <div class="form-group required row">
                            <label class="col-form-label col-sm-3 text-sm-right">Name:</label>
                            <div class="col-sm-9">
                                <input asp-for="Category.CategoryName" id="txtCategoryName" required class="form-control" maxlength="30" />
                                <span asp-validation-for="Category.CategoryName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group required row">
                            <label class="col-form-label col-sm-3 text-sm-right">Parent Category Id:</label>
                            <div class="col-sm-3">
                                <input asp-for="Category.ParentCategoryId" id="txtParentCategoryId" required class="form-control" maxlength="2" />
                                <span asp-validation-for="Category.ParentCategoryId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group required row">
                            <label class="col-form-label col-sm-3 text-sm-right">Description:</label>
                            <div class="col-sm-3">
                                <input asp-for="Category.Description" id="txtDescription" type="number" required class="form-control" maxlength="2" />
                                <span asp-validation-for="Category.Description" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group required row">
                            <label class="col-form-label col-sm-3 text-sm-right">Status:</label>
                            <div class="col-sm-3">
                                <select class="form-control">
                                    <option value="">-- Select Status --</option>
                                    @foreach (var status in statusList)
                                    {
                                        <option value="@status.StatusId">@status.StatusName</option>
                                    }
                                </select>
                                <span asp-validation-for="@status.StatusId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <span style="color:red;" id="spCreateMessage">@Model.Message</span>
                            </div>
                        </div>
                    </div>
                    <hr class="m-0">
                </div>
                <div class="card-footer" style="text-align:right;">
                    <a asp-page="Index" class="btn btn-secondary">Back to List</a>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-xl-4">
    </div>
</div>

